<h1>Station #<%= @station.id %></h1>

<p>
  <b>Address:</b>
  <%= @station.address %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= @station.neighborhood_id %>
</p>

<p>
  <b>Name:</b>
  <%= @station.name %>
</p>


